* {
    font-family: Verdana, Tahoma;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: #333;
    margin-top: 119px;
	min-width: 700px;
}

@-moz-document url-prefix() {
	body {
		margin-top: 120px;
	}
}

#banner {
	z-index: 100;
    font-size: 30px;
    text-align: center;
    color: #fff;
    background-color: #000;
    position: fixed;
    top: 0;
    width: 100%;
}
form {
    background: black;
    padding: 3px;
	padding-bottom: 0px;
    position: absolute;
	top: 33px;
    width: 100%;
	min-width: 700px;
}
form #msgControl input {
    padding: 10px;
    height: 45px;
	margin-bottom: 5px;
	border: 2px;
    width: 100%;
    border-radius: 5px;
	margin-top: 5px;
}
#msgControl {
width: 77%;
}
#btnSubmit::-moz-focus-inner {
	border: 0;
	padding: 0;
}
#loginMsg {
			line-height: 55px;
			vertical-align: middle;
			color: #bbb;
			text-align: center;
			font-weight: bold;}
#btnSubmit {
    color: #333;
    height: 45px;
	margin-top: 5px;
    border-radius: 5px;
}
#tags {
width: 12%;
height: 45px;
}
legend {
color: #bbb;
font-size: .6em;
margin-left: 4px;
}
fieldset {
color: #fff;
height: 50px;
border-radius: 5px;
border-color: #bbb;
}

#messagesHR, #messagesA, #messagesPH, #messagesALL {
width: 20%;
font-size: .8em;
overflow-y:scroll;
}

#btnSubmit {
    width: 100%;
}
#tags, #btnControl {
margin-left: 5px;
}
#btnControl {
width: 10%;
}

ul {
cursor: pointer;
	list-style-type: none;
	margin-left: 10px;
	padding: 0;
	font-size: .6em;
}

li {
line-height: 8px;
margin: 4px;
vertical-align: middle;
}

.checkboxes {
display: none;
}

.inline, .inlineIMG {
	float: left;
	width: auto;
}
.inlineIMG {
	margin-right: 10px !important;
}

.borderBottom {
outline: 1px solid #888;
}

#legend {
    border-radius: 5px;
    background-color: #fff;
    font-size: .6em;
}
table {
    width: 100%;
    text-align: center;
}
td {
    width: 20%;
}

.messageDivs {
	width:auto;
	margin: 0;
	padding: 4px 4px;
}

#twitter {
	width: 20%;
}